body {
    margin: 0;
    background: url("http://i61.tinypic.com/s1q6ag.jpg") no-repeat;
    background-size: cover;
}

* {
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 980px;
}

.page_body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header_navigation {
    list-style: outside none none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header_item {
    float: left;
    display: inline-block;
    background: url("http://i61.tinypic.com/s1q6ag.jpg") no-repeat;
    background-size: 1000px 500px;
    border: 1px solid #899caa;
    border-radius: 10px;
    -moz-border-radius: 10px;
    position: relative;
    z-index: 30;
    cursor: pointer;
}

.header_loggedIn {
    padding-top: 1px;
    padding-bottom: 75px;
    background-color: #F5F5F5;
    border-bottom: 1px solid #E5E5E5;
}

.header_login {
    float: right;
    margin-bottom: 20px;
}

.header_link {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    padding: 7px 29px 9px 10px;
    display: block
}

.header_link:hover, .header_link:focus {
    color: #4183C4;
    text-decoration: none;
}

h1 {
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.1;
    color: #FFF;
}

.create_poll_section {
    padding-top: 80px;
    padding-bottom: 327px;
    position: relative;
    text-shadow: 0px 1px 3px #222;
}

.create_poll_section .heading {
    float: left;
    margin-top: 0px;
    padding-top: 10px;
    font-size: 50px;
    font-weight: normal;
    line-height: 1;
    color: #FFF;
    letter-spacing: -1px;
}


/* Logout Container (default to float:right) */
#logoutContainer {
    position: relative;
    float: right;
    font-size: 12px;
}

/* Login Button */
#logoutButton {
    display: inline-block;
    float: right;
    background: url("http://i61.tinypic.com/s1q6ag.jpg");
    background-size: 1000px 500px;
    border: 1px solid #899caa;
    border-radius: 10px;
    -moz-border-radius: 10px;
    position: relative;
    z-index: 30;
    cursor: pointer;
    text-decoration: none;
}

/* Logout Button Text */
#logoutButton span {
color: white;
font-size: 14px;
font-weight: bold;
padding: 7px 15px 9px 10px;
display: block;
}

#logoutButton:hover {
    background: #4682B4;
}


/* If the Login Button has been clicked */
#logoutButton.active {
    border-radius: 10px 10px 0 0;
}

#logoutButton.active span {
    background-position: 53px -76px;
}

/* A Line added to overlap the border */
#logoutButton.active em {
    position: absolute;
    width: 100%;
    height: 1px;
    background: #4682B4;
    bottom: -1px;
}

#create_poll{
     float: right;
}

#create_poll h2 {
    color: white;
    font-weight: bold;
}

b {
    color: white;
}

i {
    color: white;
}

#yourPolls {
    margin-top: 5%;
}

.poll-card {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 1.5%;
  width: 50%;
  background-color: #F7F7F7;
  margin: auto auto 1% auto;
  overflow: hidden;
}

.poll-card h1 {
    margin-top: -2%;
  font-weight: 100%;
  text-align: center;
  font-size: 2em;
}

.poll-card h2 {
    margin-top: -2%;
    font-weight: 100%;
    text-align: center;
    font-size: 2em;
}

.poll-card a:hover {
  opacity: 1;
}

.poll-card input[type=submit] {

  width: 50%;
  display: block;
  margin: auto;
}

.poll-card input[type=button] {
  width: 30%;
  display: inline;
}

.poll-button {
    text-align: center;
  margin-right: 1%;
    font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
}

.poll-submit {
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
}
.poll-submit:hover {
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
}

.poll-button-new {
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
}
.poll-button-new:hover {
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
}
